<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmun Clarke</title>
</head>
<body>
    <h1>Edmund Clarke</h1>
    <img src="/img/220px-Edmund_Clarke_FLoC_2006.jpg" alt="">
<p>fue un informático teórico, profesor universitario, investigador, ingeniero y matemático estadounidense.
    Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware.
</p>
</body>
</html>